{{- if .Values.mysql.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: {{ .Values.global.namespace }}
  labels:
    app: mysql
    chart: {{ include "bantu-crm.chart" . }}
    release: {{ .Release.Name }}
spec:
  type: ClusterIP
  ports:
  - port: 3306
    targetPort: 3306
    protocol: TCP
    name: mysql
  selector:
    app: mysql
{{- end }}

