apiVersion: v1
kind: Secret
metadata:
  name: redis-secret
  namespace: default
type: Opaque
stringData:
  # Redis 密码（用于 requirepass）
  REDIS_PASSWORD: "bantu_redis_password_2024"
  # Redis 主从复制密码（如果需要）
  REDIS_MASTER_PASSWORD: "bantu_redis_password_2024"

