apiVersion: v1
kind: Service
metadata:
  name: minio-console
  namespace: default
  labels:
    app: minio
    component: console
spec:
  type: ClusterIP
  ports:
  - port: 9001
    targetPort: 9001
    protocol: TCP
    name: console
  selector:
    app: minio

