apiVersion: v1
kind: Secret
metadata:
  name: minio-secret
  namespace: default
type: Opaque
stringData:
  # MinIO 根用户（Access Key）
  MINIO_ROOT_USER: "bantu_minio_admin"
  # MinIO 根密码（Secret Key）
  MINIO_ROOT_PASSWORD: "bantu_minio_password_2024"

